<p id="notice"><%= notice %></p>

<h1>Artists</h1>
<%= link_to new_artist_path do %>
  <span class="glyphicon glyphicon-plus"></span>Add
<%end%>


<br /><br />
    <div class="row">
    <% @artists.each do |artist| %>
    <div class="col-md-12">
        <h2><%= link_to artist.name, artist %></h2>
          <div class="row well">
            <% artist.songs.each do |song| %>
                    <div class="col-md-4">
                    <h4><%= link_to song.title, song %></h4>
                    <p><% song.rating.times do %>
                      <span class="glyphicon glyphicon-star"></span>
                    <% end %>
                    </p>
                    <p>
                    <%= link_to edit_song_path(song) do %>
                      <span class="glyphicon glyphicon-pencil"></span>
                    <% end %> &nbsp; | &nbsp;
                    <%= link_to song, method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <span class="glyphicon glyphicon-trash"></span>
                    <%end%>
                    </p>
                    </div>
            <%end%>
          </div>
    </div>

    <% end %>
  </div>